* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Charm", cursive;
}
nav ul {
	list-style-type: none;
	display: none;
}
nav ul a {
	display: block;
	background: rgb(13, 19, 23);
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: silver;
	transition: color 1s ease, background 1s ease, padding 1s ease;
}
nav ul a:hover {
	background: #474747;
	color: white;
	padding-left: 30px;
}
.nav-container img {
	width: 80px;
	padding: 10px;
	align-self: center;
}

.nav-container {
	padding: 0 20px;
	background-color: #474747;
	border-bottom: 3px solid silver;
	display: flex;
	justify-content: space-between;
}

.bar {
	width: 30px;
	height: 3px;
	margin: 7px;
	background: silver;
}
.btn {
	padding: 2px;
	display: inline-block;
	border: 2px solid silver;
	align-self: center;
}

header {
	min-height: 100vh;

	background: linear-gradient(rgba(39, 37, 2, 0.472), rgba(42, 36, 2, 0.485)),
		url(./assets/workshop.webp) center/cover fixed no-repeat;

	/* background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; */

	display: flex;
	flex-direction: column;
}
nav {
	flex: 0 0 auto;
}
.logo-lg {
	width: 300px;
	padding: 10px;
	align-self: center;
}

.banner {
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.banner h1 {
	font-size: 2.5em;
	color: white;
	/* offset-x | offset-y | blur-radius | color */
	text-shadow: 1px 1px 2px rgb(194, 26, 227);
	text-transform: capitalize;
}
.banner h3 {
	font-size: 1.5em;
	color: white;
	/* offset-x | offset-y | blur-radius | color */
	text-shadow: 1px 1px 2px rgb(206, 4, 246);
	text-transform: uppercase;
}

.banner-icons {
	padding: 20px;
}

.banner-icons a {
	display: inline-block;
	font-size: 30px;
	background: #c09323b0;
	padding: 5px 10px;
	margin: 0 10px;
	border-radius: 50%;
	color: rgba(43, 43, 2, 0.998);
	transition: color 0.5s ease, transform 1s ease;
}

.banner-icons a:hover {
	color: white;
	transform: translateY(-10px);
}
nav {
	position: fixed;
	width: 100%;
	z-index: 10;
}

@media screen and (min-width: 776px) {
	.nav-container {
		display: none;
	}
	nav ul {
		display: flex !important;
		flex-wrap: wrap;
		justify-content: center;
		background: rgb(13, 19, 23);
	}
	nav ul a {
		background: transparent;
	}
	nav ul a:hover {
		background: #474747;
		color: white;
		padding-left: 30px;
	}
}

/* ##  the services ## */

.services {
	min-height: 80vh;
	background: url(./assets/dashboard.jpg) center/cover fixed no-repeat;
	display: flex;
	align-items: center;
}
.service {
	color: silver;
	display: flex;
	margin: 40px;
}
.service-icon {
	align-self: center;
	font-size: 50px;
	margin-right: 20px;
	padding: 20px;
	border: 3px solid white;
	border-radius: 50%;
}
.service-text p {
	line-height: 2;
	margin-top: 5px;
}
@media screen and (min-width: 576px) {
	.services-center {
		width: 70%;
	}
}

@media screen and (min-width: 776px) {
	.services-center {
		width: 50%;
	}
	.service-text p {
		width: 50%;
	}
}

/* ##  end of the services ## */
